.parallax-window {
    height: 1000px;
}
#linahall {
    font-family: 'Passion One'; 
    text-align:center; 
    font-size: 10em; 
    letter-spacing: 0.2em; 
    color: #2F2E2E;

    padding-top: 500px;
    width: 90%;
    padding-left: 10%;
}
#subtitle {
    font-size: 3em;
    font-family: belleza; 
    text-align:center; 
    color: black;
    /*color: #8C0B0B;*/
}
#sobremim {
    /*border-bottom: solid 9px #6B2D7F;*/
    background-image: url('../img/sobremim-background.jpg');
    /*background-color: #6B2D7F;*/
}
.sobremim-box {
    /*border-top: solid 8px #6B2D7F;*/
    height: 580px;
    /*background-color: #6B2D7F;*/
    padding: 0;
}
#sobremim-left {
    background-image: url('../img/sobremim2.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 250px;
    height: 581px;
    width: 100%;
}
#sobremim-left-inner-box {
    border: 13px solid #351740;
    margin-top: 10%;
    margin-right: 5%;
    width: 80%;
    float: right;
    height: 400px;
    padding-right: 5%;
}
#sobremim-title {
    font-family: 'Passion One';
    color: black;
    text-align: right;
    font-size: 4.7em;
}
#sobremim-text {
    font-family: 'Passion One';
    font-size: 1.4em;
    color: black;
    margin: 10% 10% 0 10%;
}
#acessaratwitch {
    /* margin-top: 10%; */
    margin-left: 10%;
}
#squarebtn {
    border: solid 10px white;
    color: white;
    height: 120px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    background-color: #6B2D7F;
    transition:0.5s;
}
#squarebtn:hover {
    background-color: transparent;
}
#squarebtn-text {
    font-size: 5em;
    font-family: "Passion one";
    letter-spacing: 0.1em;
    text-color: white;
}
a:link
{
    color: white;
}
a:visited 
{
    color: white;
}
a:hover
{
    color: white;
}
a:active 
{
    color: white;
}
@media only screen and (max-width: 770px) {
  #squarebtn-text {
    padding-top: 20px;
    font-size: 3em;
  }
}
#parallax2 {
    height: 800px;
}
.pic {
    width:33.33%;
}
#pic1 {
    height: 400px;
    background-image: url('../img/pic/pic1.jpg');
    background-size: 100%;
}
#pic2 {
    height: 400px;
    background-image: url('../img/pic/pic2.jpg');
    background-size: 100%;
}
#pic3 {
    height: 400px;
    background-image: url('../img/pic/pic3.jpg');
    background-size: 100%;
}
#pic4 {
    height: 400px;
    background-image: url('../img/pic/pic4.jpg');
    background-size: 100%;
}
#pic5 {
    height: 400px;
    background-image: url('../img/pic/pic5.jpg');
    background-size: 100%;
}
#pic6 {
    height: 400px;
    background-image: url('../img/pic/pic6.jpg');
    background-size: 100%;
}
#footer {
    background-image: url('../img/contato.jpg');
}
#contato-title {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    margin: 50px 35% 50px 35%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Passion One";
    letter-spacing: 0.1em;
    width: 30%;
    text-align: center;
}
#contato-left {
    text-align: center;
}