.video_bg_wrapper {
  position: "fixed";
  top: 0;
  z-index: 10;
  min-width: 100vw;
  background-color: red;
  min-height: 100vh;
}

.video_bg {
  position: "absolute";
}
@media only screen and (max-width: 1000px) {
  .video_bg_wrapper {
  }
}

.image_bg {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  overflow: hidden;
}

.column {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 1;
  min-width: 100%;
  position: relative;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 1;
  min-width: 100%;
  position: relative;
}

.title_container {
  position: relative;
  color: #7a007d;
  transition: 0.5s ease;
}
@media only screen and (max-width: 1000px) {
  .title_container {
    margin-top: 100px;
  }
}
.title_container a {
  text-decoration: none;
}
.title_container:hover {
  color: #c172f4;
}

.subtitle {
  font-size: 35px;
  text-align: center;
  color: #7a007d;
  font-family: belleza;
  transition: 0.5s ease;
}

.subtitle:hover {
  color: #c172f4;
}

.default_title {
  font-size: 95px;
  text-align: center;
  font-family: belleza;
  color: #000;
  font-weight: 700;
  margin: 0;
}

.default_text {
  font-size: 22px;
  text-align: justify;
  color: #000;
  font-weight: 300;
}

.divider {
  min-height: 5px;
  min-width: 100%;
  background-color: #65007c;
  margin-bottom: 30px;
}

.home_navigator {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.navbutton {
  border: none;
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
  color: #65007c;
  font-weight: 500;
  position: relative;
  margin-bottom: 20px;
  padding: 0px 30px;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s ease;
  border-left: 3px solid #65007c;
  border-radius: 10px;
}

.navbutton:hover {
  color: #c172f4;
  border-left: 3px solid #7a007d;
}

.anim_banana_1 {
  position: absolute;
  right: 0;
  top: -100px;
  max-width: 100px;
  animation: banana1 2s ease infinite;
}

.anim_banana_2 {
  position: absolute;
  right: 120px;
  top: -150px;
  max-width: 130px;

  animation: banana2 3s ease infinite;
}

.anim_banana_only {
  width: 150px;
}

@keyframes banana1 {
  0% {
    padding-top: 10px;
    transform: rotate(3deg);
  }
  50% {
    padding-top: 0px;
    transform: rotate(-3deg);
  }
  100% {
    padding-top: 10px;
    transform: rotate(3deg);
  }
}

@keyframes banana2 {
  0% {
    padding-top: 15px;
    transform: rotate(5deg) rotateY(180deg);
  }
  50% {
    padding-top: 0px;
    transform: rotate(-3deg) rotateY(180deg);
  }
  100% {
    padding-top: 15px;
    transform: rotate(5deg) rotateY(180deg);
  }
}

.link {
  color: black;
}

.link:hover {
  color: #7a007d;
  text-decoration: underline;
}

#gallery {
  padding: 0 !important;
  overflow: hidden !important;
}

.image_gallery_item_wrapper {
  flex-grow: 1;
  padding: 0px;
  position: relative;
}
@media only screen and (max-width: 700px) {
  .image_gallery_item_wrapper {
    width: 100%;
  }
}
.image_gallery_item {
  flex-grow: 1;
  min-width: 100%;
  min-height: 100%;
  padding-top: 100%;
  position: relative;
}

.row_stretch {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 1;
  min-width: 100%;
  position: relative;
}

.formWrapper {
  background-color: white;
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  box-shadow: 0px 0px 15px #00000070;
  z-index: 1;
}
